<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sistemas.DAL.Properties.Settings.db_sistemaConnectionString"
            connectionString="Data Source=NOTEBOOK\SQLEXPRESS;Initial Catalog=db_sistema;Persist Security Info=True;User ID=sa;Password=11@simade"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>